@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}


.top-row {
	display: flex;
}

.miner-profile-pic {
	height: 200px;
	width: 200px;
}

.miner-details {
	margin-left: 60px;
}

.miner1 {
	margin-top: 20px;
}

.miner-container {
	height: 200px;
	max-width: 1200px;
	margin: 50px auto 0px auto;
	background-color: #BAD7E9;
	border-radius: 30px;
	box-shadow: 3px 3px 10px rgb(188, 188, 188);
	padding: 0px 20px 20px 20px;
}

.miner-header {
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 20px 10px 20px;
	border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.miner-vitals-row {
	display: flex;
}

.miner-main-heading {
	font-size: 30px;
	font-weight: 600;
	color: blak;
}

.individual-miner{
	margin-top:5px;
}

.t-op{
	padding: 10px;
}